.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    left: 0;
    top: 0;
    position: absolute
}

.loader {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border: 0.4rem solid rgba(12, 2, 2, 0.2);
    border-top-color: rgba(22, 6, 6, 0.8);
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}