/* Signup.css */

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    min-height: 80vh;

}

h2 {
    margin-bottom: 20px;
}

.signup-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;

}

label {
    margin-bottom: 10px;
    width: 120px;
    font-size: 0.8rem
}

input {
    margin-bottom: 20px;
    padding: 10px 30px;
    width: 100%;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    direction: ltr;
}

.show-password-icon {
    position: absolute;
    left: 4px;
    top: 17%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.signup-container button,
div.custom-image-uploader {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #01060b;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(14, 1, 1, 0.25);
    cursor: pointer;
}

.upload-text {
    font-size: 1.2rem;
}

div.custom-image-uploader img {
    width: 200px;
    height: 200px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    position: relative;
}

.form-group span {
    position: absolute;
    left: 0;
    top: -30px;
    color: rgb(204, 109, 109);
    padding-bottom: 0px;
    direction: rtl;

    width: 75%;

}


#image {}

button:hover {
    background-color: #08101c;
}

@media (max-width:573px) {

    .signup-container form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;

    }
}