.card {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 300px;
    height: 380x;
    margin: 20px;
    background-color: white;
    border-radius: 10px;

}

.card>* {
    overflow: hidden;
}

.card__image-wrapper {
    position: relative;
    width: 100%;
    height: 230px;
    overflow: hidden;
    border-radius: inherit;
}

.card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    display: no;
    cursor: pointer;
    border-radius: inherit;
}

.card-image:hover {
    transform: scale(1.1);
}

/* heart icon */
.card__love-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #f44336;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    width: fit-content;
    height: fit-content;
    border-radius: inherit;
}

.card__love-icon img {
    width: 35px;
    height: 35px;
    border-radius: inherit;
}

.card__love-icon:hover {
    color: #b71c1c;
}


/* heart icon */

/* card price */
.card-price {
    font-weight: bold;
    font-size: 30px;
    color: rgba(9, 10, 7, 0.836);
}

.card-price span {
    padding: 0 10px;
}

/* card price */
/* card info */
.card .card-info {
    width: 100%;
    padding: 10px;
    background-color: rgb(242, 246, 247);

}

.card .card-info .card-title {
    font-size: 1rem;
    text-transform: capitalize;
    color: rgba(9, 10, 7, 0.836);
    height: 70px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

}

/* user  */
.card .user-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.card .user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-bottom-color: transparent !important;


}

.card .user-info p.user-name {
    font-weight: blod;

    width: fit-content;
    padding: 5px;


}


/* user */

/* card info */

@media(max-width:573px) {
    .card {
        margin: 20px 0;
    }
}