@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');



html {
    direction: rtl;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    max-width: 100%;
}

body {
    font-size: 16px;
    font-family: 'Cairo', sans-serif;

}

.container {
    padding-left: 3rem;
    padding-right: 3rem;
}

@media(max-width:573px) {
    body {
        font-size: 12px
    }
}